VOLUMES_PATH = /home/ebabaogl/data

DOMAIN_NAME = "ebabaogl.42.fr"

# MariaDB
DB_NAME="wordpress"
DB_USER="wordpress_user"

# WordPress
SITE_TITLE="Inception by ebabaogl"
WP_ADMIN_USERNAME="ebabaogl"
WP_ADMIN_EMAIL="ebabaogl@student.42kocaeli.com.tr"
WP_USER_USERNAME="editor"
WP_USER_EMAIL="editor@ebabaogl.42.fr"
